body {
    background-color: #f2dfb9;
    color: rgb(165, 118, 42);
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
}

/*main content styling*/
.recipe-container {
    text-align: center;
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 80px;
    width: 80%;

    margin: 20px auto;
    padding: 50px;
    place-items: center;
}

.recipe {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.recipe-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    height: 60%;
    font-size: 20px;
    overflow-y: scroll;
}

.recipe button {
    background-color: rgb(152, 103, 29);
    
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}