body {
    background-color: bisque;
    color: brown;
}

header {
    text-align: center;
}

/*main section */
.recipe-container {
    text-align: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 80px;
    width: 80%;

    margin: 20px auto;
    padding: 50px;
    place-items: center;
}

.recipe {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: 300px;
}