body {
    background-color: rgba(219, 86, 86, 0.383);
    color: brown
}

header {
    text-align: center;
}

/*main section*/
.recipe-container {
    text-align: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    grid-gap: 70px;
    margin: 20px auto;
    padding: 50px;
    place-items: center;
}

.recipe {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
}

.recipe-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    height: 60%;
    font-size: 20px;
    overflow-y: scroll;
}