* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #8b3b0a;
    color: #fff
}

header nav {
    background-color: #721717;
    padding: 15px;
    display: flex;
    /*display: flex property in CSS is the layout model that allows you to arrange the items inside the container flexibly and responsively.*/
    justify-content: space-between;
    align-items: center;
    z-index: 1;

}

header nav h1 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

header nav form {
    display: flex;
    justify-content: center;
}

form input[type="text"],
button[type="submit"] {
    flex-grow: 1;
    margin-right: 10px;
}

/*main section*/
.recipe-container {
    text-align: center;
    margin-top: 20px;

    /*do the javascript first then go down and add the rest*/
    display: grid;
    /*defines a grid container and establishes a new grid formatting context for its contents.*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /*auto-fit: automatically fit as many columns as possible based on the available space.
    minmax(250px, 1fr): each column will have a minimum width of 250 pixels and a maximum width of 1 fraction unit (1fr), which means it will take up an equal share of the available space.*/
    /*then look at dev tools, instead of a long list its now horizontal*/
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto;


}