* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: lightblue;
    text-align: center;
}

header nav {
    padding: 15px;
}

h1 {
    color: navy;
}


/*main section*/
.recipe-container {
    text-align: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    gap: 20px;
    padding: 20px;
    grid-gap: 70px;
    width: 60%;


    margin: 20px auto;
    padding: 20px;
    place-items: center;
}

.recipe {
    max-width: 350px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 10px;

}

.recipe button {
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    margin: 18 auto;

}


.recipe-details {
    display: none;
    background-color: azure;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.recipe-details-content {
    padding: 20px;
    text-align: left;
    max-width: 500px;
    color: black;
}